USE [master]
GO
/****** Object:  Database [EventInsuranceDb]    Script Date: 04/03/2026 11:58:47 am ******/
CREATE DATABASE [EventInsuranceDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventInsuranceDb', FILENAME = N'C:\Users\Lenovo\EventInsuranceDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventInsuranceDb_log', FILENAME = N'C:\Users\Lenovo\EventInsuranceDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventInsuranceDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventInsuranceDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivePolicies]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivePolicies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](450) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[RenewalReminderDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ActivePolicies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentCommissions]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentCommissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AgentId] [int] NOT NULL,
	[PolicyId] [int] NOT NULL,
	[CommissionAmount] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PaidDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AgentCommissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationDocuments]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[ValidationStatus] [nvarchar](max) NOT NULL,
	[ConfidenceScore] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ApplicationDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](max) NOT NULL,
	[RecordId] [int] NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[PerformedByUserId] [int] NOT NULL,
	[OldValues] [nvarchar](max) NOT NULL,
	[NewValues] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClaimDocuments]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimDocuments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ClaimDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ClaimsOfficerId] [int] NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[FraudScore] [decimal](18, 2) NOT NULL,
	[FraudFlag] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[SubmittedDate] [datetime2](7) NOT NULL,
	[SettlementDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceRequests]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[EventType] [nvarchar](max) NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[EventDuration] [int] NOT NULL,
	[EventLocation] [nvarchar](max) NOT NULL,
	[EstimatedAttendees] [int] NOT NULL,
	[EventBudget] [decimal](18, 2) NOT NULL,
	[CoverageRequested] [decimal](18, 2) NOT NULL,
	[RiskFactors] [nvarchar](max) NOT NULL,
	[AssignedAgentId] [int] NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_InsuranceRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TransactionReference] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyApplications]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[PolicyProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[RiskScore] [decimal](18, 2) NOT NULL,
	[RiskCategory] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[PremiumAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PolicyApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyProducts]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[IsApprovedByAdmin] [bit] NOT NULL,
	[ApprovedByAdminId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PolicyProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicySuggestions]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicySuggestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[PolicyProductId] [int] NOT NULL,
	[SuggestedByAgentId] [int] NOT NULL,
	[SuggestedPremium] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PolicySuggestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/03/2026 11:58:48 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivePolicies_AgentId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_ActivePolicies_AgentId] ON [dbo].[ActivePolicies]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivePolicies_ApplicationId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_ActivePolicies_ApplicationId] ON [dbo].[ActivePolicies]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivePolicies_CustomerId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_ActivePolicies_CustomerId] ON [dbo].[ActivePolicies]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ActivePolicies_PolicyNumber]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ActivePolicies_PolicyNumber] ON [dbo].[ActivePolicies]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AgentCommissions_AgentId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_AgentCommissions_AgentId] ON [dbo].[AgentCommissions]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AgentCommissions_PolicyId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_AgentCommissions_PolicyId] ON [dbo].[AgentCommissions]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationDocuments_ApplicationId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationDocuments_ApplicationId] ON [dbo].[ApplicationDocuments]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_PerformedByUserId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_PerformedByUserId] ON [dbo].[AuditLogs]
(
	[PerformedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClaimDocuments_ClaimId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_ClaimDocuments_ClaimId] ON [dbo].[ClaimDocuments]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_ClaimsOfficerId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ClaimsOfficerId] ON [dbo].[Claims]
(
	[ClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_CustomerId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Claims_CustomerId] ON [dbo].[Claims]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyId] ON [dbo].[Claims]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsuranceRequests_AssignedAgentId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceRequests_AssignedAgentId] ON [dbo].[InsuranceRequests]
(
	[AssignedAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsuranceRequests_CustomerId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceRequests_CustomerId] ON [dbo].[InsuranceRequests]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InsuranceRequests_UserId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_InsuranceRequests_UserId] ON [dbo].[InsuranceRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PolicyId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyId] ON [dbo].[Payments]
(
	[PolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyApplications_AgentId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_AgentId] ON [dbo].[PolicyApplications]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyApplications_CustomerId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_CustomerId] ON [dbo].[PolicyApplications]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyApplications_PolicyProductId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_PolicyProductId] ON [dbo].[PolicyApplications]
(
	[PolicyProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyApplications_RequestId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyApplications_RequestId] ON [dbo].[PolicyApplications]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyProducts_ApprovedByAdminId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyProducts_ApprovedByAdminId] ON [dbo].[PolicyProducts]
(
	[ApprovedByAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyProducts_CreatedByUserId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicyProducts_CreatedByUserId] ON [dbo].[PolicyProducts]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicySuggestions_PolicyProductId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicySuggestions_PolicyProductId] ON [dbo].[PolicySuggestions]
(
	[PolicyProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicySuggestions_RequestId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicySuggestions_RequestId] ON [dbo].[PolicySuggestions]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicySuggestions_SuggestedByAgentId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_PolicySuggestions_SuggestedByAgentId] ON [dbo].[PolicySuggestions]
(
	[SuggestedByAgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 04/03/2026 11:58:48 am ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivePolicies] ADD  DEFAULT ((0.0)) FOR [CoverageAmount]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT ((0.0)) FOR [CoverageAmount]
GO
ALTER TABLE [dbo].[PolicyApplications] ADD  DEFAULT ((0.0)) FOR [PremiumAmount]
GO
ALTER TABLE [dbo].[ActivePolicies]  WITH CHECK ADD  CONSTRAINT [FK_ActivePolicies_PolicyApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActivePolicies] CHECK CONSTRAINT [FK_ActivePolicies_PolicyApplications_ApplicationId]
GO
ALTER TABLE [dbo].[ActivePolicies]  WITH CHECK ADD  CONSTRAINT [FK_ActivePolicies_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ActivePolicies] CHECK CONSTRAINT [FK_ActivePolicies_Users_AgentId]
GO
ALTER TABLE [dbo].[ActivePolicies]  WITH CHECK ADD  CONSTRAINT [FK_ActivePolicies_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ActivePolicies] CHECK CONSTRAINT [FK_ActivePolicies_Users_CustomerId]
GO
ALTER TABLE [dbo].[AgentCommissions]  WITH CHECK ADD  CONSTRAINT [FK_AgentCommissions_ActivePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[ActivePolicies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgentCommissions] CHECK CONSTRAINT [FK_AgentCommissions_ActivePolicies_PolicyId]
GO
ALTER TABLE [dbo].[AgentCommissions]  WITH CHECK ADD  CONSTRAINT [FK_AgentCommissions_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AgentCommissions] CHECK CONSTRAINT [FK_AgentCommissions_Users_AgentId]
GO
ALTER TABLE [dbo].[ApplicationDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDocuments_PolicyApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[PolicyApplications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationDocuments] CHECK CONSTRAINT [FK_ApplicationDocuments_PolicyApplications_ApplicationId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users_PerformedByUserId] FOREIGN KEY([PerformedByUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users_PerformedByUserId]
GO
ALTER TABLE [dbo].[ClaimDocuments]  WITH CHECK ADD  CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimDocuments] CHECK CONSTRAINT [FK_ClaimDocuments_Claims_ClaimId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_ActivePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[ActivePolicies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_ActivePolicies_PolicyId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_ClaimsOfficerId] FOREIGN KEY([ClaimsOfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_ClaimsOfficerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_CustomerId]
GO
ALTER TABLE [dbo].[InsuranceRequests]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceRequests_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InsuranceRequests] CHECK CONSTRAINT [FK_InsuranceRequests_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[InsuranceRequests]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceRequests_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InsuranceRequests] CHECK CONSTRAINT [FK_InsuranceRequests_Users_CustomerId]
GO
ALTER TABLE [dbo].[InsuranceRequests]  WITH CHECK ADD  CONSTRAINT [FK_InsuranceRequests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InsuranceRequests] CHECK CONSTRAINT [FK_InsuranceRequests_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ActivePolicies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[ActivePolicies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ActivePolicies_PolicyId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_InsuranceRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[InsuranceRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_InsuranceRequests_RequestId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_PolicyProducts_PolicyProductId] FOREIGN KEY([PolicyProductId])
REFERENCES [dbo].[PolicyProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_PolicyProducts_PolicyProductId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_Users_AgentId]
GO
ALTER TABLE [dbo].[PolicyApplications]  WITH CHECK ADD  CONSTRAINT [FK_PolicyApplications_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyApplications] CHECK CONSTRAINT [FK_PolicyApplications_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyProducts]  WITH CHECK ADD  CONSTRAINT [FK_PolicyProducts_Users_ApprovedByAdminId] FOREIGN KEY([ApprovedByAdminId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyProducts] CHECK CONSTRAINT [FK_PolicyProducts_Users_ApprovedByAdminId]
GO
ALTER TABLE [dbo].[PolicyProducts]  WITH CHECK ADD  CONSTRAINT [FK_PolicyProducts_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyProducts] CHECK CONSTRAINT [FK_PolicyProducts_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[PolicySuggestions]  WITH CHECK ADD  CONSTRAINT [FK_PolicySuggestions_InsuranceRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[InsuranceRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicySuggestions] CHECK CONSTRAINT [FK_PolicySuggestions_InsuranceRequests_RequestId]
GO
ALTER TABLE [dbo].[PolicySuggestions]  WITH CHECK ADD  CONSTRAINT [FK_PolicySuggestions_PolicyProducts_PolicyProductId] FOREIGN KEY([PolicyProductId])
REFERENCES [dbo].[PolicyProducts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicySuggestions] CHECK CONSTRAINT [FK_PolicySuggestions_PolicyProducts_PolicyProductId]
GO
ALTER TABLE [dbo].[PolicySuggestions]  WITH CHECK ADD  CONSTRAINT [FK_PolicySuggestions_Users_SuggestedByAgentId] FOREIGN KEY([SuggestedByAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicySuggestions] CHECK CONSTRAINT [FK_PolicySuggestions_Users_SuggestedByAgentId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
